@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sanchez:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
   
    margin:0px;
    padding: 0px;
    justify-content: center; /* Center horizontally */
    background-color: #e0c6c6;
    font-family: 'Montserrat', sans-serif;
}

#hurray {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  
}
 .txt {
    font-family: cursive;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
   font-size: larger;

   font-weight: bolder;
 }
 
 
#love{
 background-color: rgb(111, 100, 121);
    width: 90px;
    height: 40px;
    border-radius: 10px;
    margin: 10px;}